:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 25px;
    box-sizing: border-box;
}
h1, div {
    font-family: 'Fontdiner Swanky'
}